* {
  box-sizing: border-box;
  font-family: 'Newsreader', serif;
}
body {
  width: 100vw;
  height: 100vh;
}
.wrapper {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgb(102, 104, 144),
    rgb(102, 104, 144)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-btns {
  display: flex;
  margin-bottom: 20px;
}

.btn {
  margin: 20px;
  padding: 10px 25px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.3s;
}

.btn:hover {
  filter: brightness(90%);
}

.btn-easy {
  background-color: rgb(48, 216, 56);
}

.btn-medium {
  background-color: rgb(216, 140, 235);
}

.btn-hard {
  background-color: rgb(255, 65, 65);
}

.lives-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  align-items: center;
  font-weight: 700;
  font-size: 25px;
  color: #fff;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

.lives-container h3 {
  margin: 0;
}
.lives {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  font-size: 30px;
  margin-top: 10px;
}

.life-right,
.life-left,
.life-center {
  margin: 0 10px;
}

.table-content {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  color: #fff;
  text-align: center;
  font-size: 40px;
}

td {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid black;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
}

td:hover {
  background-color: rgb(88, 218, 241);
}

.hidden {
  visibility: hidden;
}

.revealed {
  visibility: visible;
  background-color: rgb(168, 160, 160);
}

.timer-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  margin-top: 20px;
}

.timer-title h2 {
  margin: 0;
}

.time h3 {
  margin: 0;
}

.smiley {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  width: 50px;
  height: 40px;
  cursor: pointer;
  transition: all 0.1s;
}

.smiley:hover {
  transform: scale(1.2);
}
