* {
  box-sizing: border-box;
  font-family: 'Newsreader', serif;
}

body {
  width: 95vw;
  height: 98vh;
  background-image: linear-gradient(to bottom, #666890, #7275a0);
}

h3,
h4 {
  margin: 0;
  color: #fff;
}

h4 {
  margin-top: 10px;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.title {
  color: #fff;
  text-align: center;
  font-size: 40px;
  margin-bottom: 0;
}

.smiley {
  text-align: center;
  font-size: 40px;
  cursor: pointer;
  transition: all 0.1s;
}

.smiley:hover {
  transform: scale(1.2);
}

.btns-container {
  display: flex;
}

.btn {
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 10px 0 #000000bf;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  margin: 20px;
  padding: 10px 25px;
  transition: all 0.3s;
}

.btn:hover {
  filter: brightness(110%);
  transform: scale(1.1);
}

.btn-easy {
  background-color: #30d838;
}

.btn-medium {
  background-color: #d88ceb;
}

.btn-hard {
  background-color: #ff4141;
}

.page-center-content {
  display: flex;
}

.table-content {
  position: relative;
  left: 80px;
}

td {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #000000;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
}

td:hover {
  background-color: #58daf1;
}

.safe-clicks,
.lives-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.safe,
.hint {
  cursor: pointer;
  transition: all 0.1s;
  font-size: 30px;
  margin: 0 10px;
}

.safe:hover,
.hint:hover {
  transform: scale(1.1);
}

.safe-modal {
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  font-size: 20px;
  font-weight: 700;
  height: 70px;
  justify-content: center;
  left: 300px;
  opacity: 0;
  position: relative;
  text-align: center;
  top: 80px;
  transition: all 0.3s;
  width: 150px;
}

.hints-modal {
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  font-size: 20px;
  font-weight: 700;
  height: 70px;
  justify-content: center;
  opacity: 0;
  position: relative;
  left: 450px;
  bottom: 120px;
  text-align: center;
  transition: all 0.3s;
  width: 150px;
  height: 100px;
  padding: 10px;
}

.lives-container,
.safe-clicks,
.hint-clicks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-weight: 700;
  font-size: 25px;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
}

.lives,
.safe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;

  font-size: 30px;
}

.life-bottom,
.life-top,
.life-center {
  margin: 0 10px;
}

.hidden {
  visibility: hidden;
}

.revealed {
  visibility: visible;
  background-color: #a8a0a0;
}

.safe-to-click {
  background-color: #30d838;
}

.timer-container {
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: center;
  width: 200px;
}

.timer-title h2 {
  margin: 0;
}

.time h3 {
  margin: 0;
  color: #000000;
}

.bulb {
  cursor: pointer;
}

.instructions {
  position: absolute;
  top: 10px;
  width: 400px;
  background-color: #d88ceb;
  border-radius: 10px;
  padding: 20px;
  opacity: 1;
  transition: all 0.3s;
}

.instructions h2 {
  color: #fff;
}

.instructions h3 {
  text-decoration: underline;
  letter-spacing: 1px;
}

.instructions p {
  font-weight: 600;
  font-size: 17px;
}

.instruction-text {
  line-height: 20px;
}

.good-luck {
  text-align: center;
  text-decoration: none;
}

.btn-instructions,
.btn-open {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  padding: 10px;
  position: relative;
  left: 150px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 10px 0 #000000bf;
  transition: all 0.3s;
}

.btn-instructions:hover,
.btn-open:hover {
  transform: scale(1.1);
}

.btn-open {
  position: absolute;
  top: 10px;
  left: 1700px;
  opacity: 0;
  cursor: pointer;
}
